html,
body {
  height: 100%;
  background: #E5E5E5;
  color: #232B2B;
  /* The html and body elements cannot have any padding or margin. */
}

.panel {
	border-radius: 0;
}

#header #logo {
	position: absolute;
	left: 20px;
	top: 20px;
}

#header #logo img{
	height: 120px;
}

#header .jumbotron {
	height: 160px;
	background: #232B2B;
	font-family: 'Alegreya Sans', sans-serif;
	letter-spacing: 2px;
	color: white;
	padding-left: 160px;
}

#header .jumbotron h2 {
	font-family: 'Alegreya Sans', sans-serif;
	letter-spacing: 2px;
	color: white;
	margin-bottom: 0;
	background: #232B2B;
}

#header .jumbotron p {
	font-family: 'Alegreya Sans', sans-serif;
	letter-spacing: 2px;
	color: #617777;
	margin-bottom: 0;
	background: #232B2B;
}

#navbar {
	position: absolute;
	top: 160px;
	width: 100%;
  	background: #DC3D24;
  	margin-top: 0;
  	border: none;
  	border-radius: 0;
  }

#navbar.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

#navbar a {
	color: #FFFFFF;
	font-family: 'Alegreya Sans', sans-serif;
	letter-spacing: 1px;
}

#navbar li:hover {
	background: #A54C3E;
}

#user-menu li {
	background: #8F1E0C;
	font-weight: bold;
	letter-spacing: 2px;
}

#user-menu li:hover {
	background: #A54C3E;
}

#facebook {
	position:absolute;
	right: 10;
	top: 10px;
}

#twitter {
	position:absolute;
	right: 10;
	top: 40px;
}

#adsense {
	border: none;
}

#content, #sidebar-left, #sidebar-right {
	padding-top: 50px;
}

#sidebar-left, #sidebar-right {
	background: #E5E5E5;
}

#sidebar-left .panel-heading {
	border: none;
	border-radius: 0;
	background: #8F1E0C;
	color: #FFFFFF;
	font-family: 'Alegreya Sans', sans-serif;
	letter-spacing: 1px;
}

#sidebar-left .panel {
	border: none;
}

#sidebar-left .panel a {
	text-decoration: none;
	color: #DC8124;
	font-weight: bold;
}

#user-panel {
	border: none;
}

#user-panel .panel-heading {
	background: #8F1E0C;
	border-radius: 0;
	border: none;
	color: #FFFFFF;
	font-family: 'Alegreya Sans', sans-serif;
	letter-spacing: 1px;
}

#user-panel .panel-heading a {
	text-decoration: none;
	color: #DC8124;
	font-weight: bold;
}

#content {
	background: #FFFFFF;
}



/** ---------------------------------------------------------------------------------------- **/


#home-container h2 {
	font-family: 'Alegreya Sans', sans-serif;
	color: #A37D3F;
	letter-spacing: 1px;
}

#home-container b {
	font-family: 'Alegreya Sans', sans-serif;
	letter-spacing: 1px;
	color: #DC3D24;
}

#home-container a {
	font-family: 'Alegreya Sans', sans-serif;
	letter-spacing: 1px;
	text-decoration: none;
	font-weight: bold;
}


/** ---------------------------------------------------------------------------------------- **/

#news-container h2 {
	font-family: 'Alegreya Sans', sans-serif;
	color: #A37D3F;
	letter-spacing: 1px;
}

#news-container b {
	font-family: 'Alegreya Sans', sans-serif;
	color: #232B2B;
	letter-spacing: 1px;
	color: #DC3D24;
}

#news-container a {
	font-family: 'Alegreya Sans', sans-serif;
	letter-spacing: 1px;
	text-decoration: none;
	font-weight: bold;
}

/** ---------------------------------------------------------------------------------------- **/

#faq-container h4 {
	font-family: 'Alegreya Sans', sans-serif;
	color: #A37D3F;
	letter-spacing: 1px;
}

#faq-container b {
	font-family: 'Alegreya Sans', sans-serif;
	color: #232B2B;
	letter-spacing: 1px;
	color: #DC3D24;
}

#faq-container a {
	font-family: 'Alegreya Sans', sans-serif;
	letter-spacing: 1px;
	text-decoration: none;
	font-weight: bold;
}

/** ---------------------------------------------------------------------------------------- **/

#elevator h1 {
	font-family: 'Alegreya Sans', sans-serif;
	color: #DC3D24;
	letter-spacing: 1px;
}

#elevator a {
	color: #E3AE57;
	text-decoration: none;
	font-weight: bold;
}

#elevator b {
	color: #DC3D24;
} 

#elevator a:hover {
	color: #DC3D24;
}

#poll {
	color: #232B2B;
	margin-bottom: 10px;
}

#how-to h2 {
	font-family: 'Alegreya Sans', sans-serif;
	color: #DC3D24;
	letter-spacing: 1px;
	font-weight: bold;
}

#how-to h4 {
	font-family: 'Alegreya Sans', sans-serif;
	color: #A37D3F;
	letter-spacing: 1px;
	font-weight: bold;
}

#how-to b {
	font-family: 'Alegreya Sans', sans-serif;
	color: #DC3D24;
	letter-spacing: 1px;
}

#getting-started h4 {
	font-family: 'Alegreya Sans', sans-serif;
	color: #A37D3F;
	letter-spacing: 1px;
	font-weight: bold;
}

#rules h4 {
	font-family: 'Alegreya Sans', sans-serif;
	color: #A37D3F;
	letter-spacing: 1px;
	font-weight: bold;
}

#standings h4 {
	font-family: 'Alegreya Sans', sans-serif;
	color: #A37D3F;
	letter-spacing: 1px;
	font-weight: bold;
}

#stats h4 {
	font-family: 'Alegreya Sans', sans-serif;
	color: #A37D3F;
	letter-spacing: 1px;
	font-weight: bold;
}

#contact h4 {
	font-family: 'Alegreya Sans', sans-serif;
	color: #DC3D24;
	letter-spacing: 1px;
	font-weight: bold;
}

#login-page h4 {
	font-family: 'Alegreya Sans', sans-serif;
	color: #DC3D24;
	letter-spacing: 1px;
	font-weight: bold;
}

#picks-list table #logo-wrap {
	height: 50px;
	width: 75px;
	border-radius: 15px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}

#picks-list table img {
	position: relative;
	height: 50px;
	opacity: .4;
}

#picks-list #team-picked {
	font-weight: bold;
	background: #DBEFF5;
}

#picks-list #team-picked img {
	opacity: 1;
}

.btn-picks {
  background-color: #56AEC2 !important;
  border: none;
  color: white !important;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

label img {
	cursor: pointer;
}

#picks-list .table-header {
	background: #E3AE57;
	font-family: 'Alegreya Sans', sans-serif;
	color: white;
	letter-spacing: 1px;
	font-weight: bold;
}

#finished-picks-numbers {
	background: #2A3333;
	font-weight: bold;
	font-size: 1.5em;
	color: #B4E23C;
}

#unfinished-picks-numbers {
	background: #2A3333;
	font-weight: bold;
	font-size: 1.5em;
	color: #E94126;
}

#picks-list .btn {
    background-color: #56AEC2 !important;
    border: none;
    color: white !important;
    font-weight: bold;
}


#empty-pick {
	background: #1E3A42;
	font-weight: bold;
	color: white;
}

#correct-pick {
	background: #1E3A42;
	font-weight: bold;
	color: #C0FF90;
}

#incorrect-pick {
	background: #1E3A42;
	font-weight: bold;
	color: #FF877F;
}

#future-pick {
	background: #1E3A42;
	font-weight: bold;
	color: white;
	color: white;
}

#current-game {
	background: #1E3A42;
	font-weight: bold;
	color: #F1E56C;
}




#week-champion {
	font-family: 'Alegreya Sans', sans-serif;
	letter-spacing: 1px;
	padding: 20px 40px;
	background: #2A3333;
	color: #FFFFFF;
	margin-bottom: 10px;
}

#week-champion a {
	color: #B2A1A1;
}

#week-champion a:hover {
	color: #DC3D24;
	text-decoration: none;
}

#home-content h2 {
	font-family: 'Alegreya Sans', sans-serif;
	color: #B09A32;
	letter-spacing: 1px;
	font-weight: bold;
}

#home-content b {
	font-family: 'Alegreya Sans', sans-serif;
	color: #B09A32;
	letter-spacing: 1px;
	font-weight: bold;
}

#page-note {
	font-family: 'Alegreya Sans', sans-serif;
	letter-spacing: 1px;
	padding: 20px 40px;
	background: #2A3333;
	color: #FFFFFF;
	margin-bottom: 10px;
}

#page-note a {
	color: #B2A1A1;
}

#page-note a:hover {
	color: #DC3D24;
	text-decoration: none;
}

#navigation {
	font-family: 'Alegreya Sans', sans-serif;
	padding: 20px 30px;
	border-right: 10px solid #A37D3F;
	color: white;
	background: #232B2B;
	margin-bottom: 50px;
}

#navigation a {
	color: #E3AE57;
}

#social {
	background: #2A3333;
	padding: 20px 30px;
	color: #FFFFFF;
}

#footer {
	font-family: 'Alegreya Sans', sans-serif;
	letter-spacing: 2px;
	margin-top: 20px;
	background: #2A3333;
	padding: 10px 30px;
	color: #E3AE57;
}






