body {
  font-size: 14px;
  color: #232B2B;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: helvetica, arial, sans-serif;
}

/** --------------------------------------------------------------- **/

#content {
  padding: 20px 0 100px 0;
}

.btn {
  border-radius: 3em;
}

.container {
  max-width: 1200px;
}

.container-alternate {
  background: #8F1E0C;
  color: #FFFFFF;
}

.container-alternate h3 {
  color: #DC8124;
}

.container-alternate a {
  text-decoration: none;
  font-weight: bold;
  color: #DC8124;
}

#rules-container {
  background: #2D7A45;
}

#feedback-container {
  background: #285967;
}

/** --------------------------------------------------------------- **/

.navbar {
  background: #FFFFFF;
  padding: 0 0;
  border: none;
}

.navbar .navbar-brand {
  color: #4ED175;
  font-family: 'Alegreya Sans', sans-serif;
  letter-spacing: 2px;
}

.navbar ul.nav li a {
  color: #4ED175;
  padding-left: 0;
  padding-right: 0;
  margin: 0 1.5em;
  font-weight: bold;
  font-size: .9em;
}

.navbar ul.nav li a:hover {
  color: #4ED175;
}

.navbar-header button {
  margin: 0.7em 0 0 1em;
}

.navbar-header .navbar-toggle .icon-bar {
  background-color: #4ED175;
}

/** --------------------------------------------------------------- **/

.jumbotron {
  background: #232B2B;
  color: #FFFFFF;
  width: 100%;
  padding: 4.5em 0 3.5em;
  text-align: center;
  margin-bottom: 0;
}

.jumbotron h1 {
  font-family: georgia, serif;
  font-size: 2.5em;
}

.jumbotron h2 {
  font-size: 1.2em;
  font-style: italic;
  font-weight: normal;
  line-height: 1.4em;
  margin-bottom: 1.4em;
  color:#425252;
}

.jumbotron h3 {
  color: #FFFFFF;
  font-family: 'Alegreya Sans', sans-serif;
  font-style: italic;
  line-height: 1.4em;
  margin-bottom: 1.4em;
}

.jumbotron .btn {
  font-size: 1.2em;
  padding: 0.3em 2.5em 0.5em;
}

.jumbotron .btn .glyphicon {
  margin-left: 0.2em;
  position: relative;
  top: 3px;
}

.subhead {
  color: #DC8124;
  font-size: 2em;
  text-align: center;
  margin: 2em 0 0.5em;
  font-family: 'Alegreya Sans', sans-serif;
  letter-spacing: 2px;
}

#head {
  color: #096A26;
  font-size: 1.5em;
  font-family: 'Alegreya Sans', sans-serif;
  letter-spacing: 1px;

}

.benefits {
  margin-bottom: 3em;

}
.benefit {
  margin: 1em 0;
  text-align: center;
}

.benefit .benefit-ball {
  background: #1BA344;
  border-radius: 50%;
  color: #333;
  display: inline-block;
  line-height: 1em;
  padding: 3em;
}

.benefit .benefit-ball .glyphicon {
  color: #FFFFFF;
  font-size: 3em;
  position: relative;
  top: -3px;
  right: 1px;
}

.benefit h3 {
  color: #094759;
  font-size: 1.5em;
}

.introduction p {
  color: #FFFFFF;
  line-height: 1.5em;
  margin: 1em 0;
}

.introduction p:last-child {
  margin-bottom: 4em;
}

.faq {
  margin-bottom: 3em;
}

.faq p {
  line-height: 1.5em;
  margin: 1.2em 0;
}

.rules p {
  color: #FFFFFF;
  line-height: 1em;
  margin: 1em 0;
}

.rules p:last-child {
  margin-bottom: 4em;
}

.getting-started {
  margin-bottom: 3em;
}

.getting-started p {
  line-height: 1.5em;
  margin: 1.2em 0;
}

.feedback p {
  color: #FFFFFF;
  line-height: 1.5em;
  margin: 1em 0;
}

.feedback p:last-child {
  margin-bottom: 4em;
}

/** --------------------------------------------------------------- **/

#picks-list .table-header {
  background: #DC8124;
  font-family: 'Alegreya Sans', sans-serif;
  color: white;
  letter-spacing: 1px;
  font-weight: bold;
}

#finished-picks-numbers {
  background: #AAE555;
  font-weight: bold;
  color: #232B2B;
  padding: 1em;
  font-family: 'Alegreya Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 1.2em;
}

#unfinished-picks-numbers {
  background: #EE6D59;
  font-weight: bold;
  color: #232B2B;
  padding: 1em;
  font-family: 'Alegreya Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 1.2em;
}

#picks-list table #logo-wrap {
  max-height: 50px;
  max-width: 75px;
  border-radius: 15px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

#picks-list table img {
  border-radius: 15px;
  opacity: .4;
}

#picks-list #team-picked {
  font-weight: bold;
  background: #DBEFF5;
}

#picks-list #team-picked img {
  border-radius: 15px;
  opacity: 1;
}

label img {
  cursor: pointer;
}

#empty-pick {
  background: #EE6D59;
  font-weight: bold;
  color: #232B2B;
  padding: 1em;
  font-family: 'Alegreya Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 1.2em;
}

#correct-pick {
  background: #AAE555;
  font-weight: bold;
  color: #232B2B;
  padding: 1em;
  font-family: 'Alegreya Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 1.2em;
}

#incorrect-pick {
  background: #EE6D59;
  font-weight: bold;
  color: #232B2B;
  padding: 1em;
  font-family: 'Alegreya Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 1.2em;
}

#future-pick {
  background: #FFFFFF;
  font-weight: bold;
  color: #232B2B;
  padding: 1em;
  font-family: 'Alegreya Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 1.2em;
}

#current-game {
  background: #6DB1C4;
  font-weight: bold;
  color: #232B2B;
  padding: 1em;
  font-family: 'Alegreya Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 1.2em;
}

/** --------------------------------------------------------------- **/

footer {
  background: #111;
  color: #fff;
  padding: 1.5em 0 0.8em;
}

@media screen and (max-width: 768px) {
  .navbar ul.nav li {
    text-align: center;
  }
  .navbar ul.nav li button {
    margin: 1em 0;
  }
  .jumbotron {
    font-size: 14px;
    padding: 6em 0 4em;
  }
  .benefit {
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }
  .jumbotron {
    font-size: 12px;
  }
  footer .pull-right {
    display: none;
  }
}

/** --------------------------------------------------------------------- **/

#picks-header, #view-header {
  padding-top: 4em;
  padding-bottom: 0;
  font-style: normal;
}

#picks-header h3, #view-header h3 {
  font-style: normal;
  font-size: 2em;
  margin-bottom: .5em;
}

#summary-wrap {
  padding: 1.5em;
  font-family: 'Alegreya Sans', sans-serif;
  letter-spacing: 2px;
}

#summary-box {
  background: red;
}

#summary-box #number {
  font-size: 2em;
}

.well {
  padding: 1em;
  background: #FFFFFF;
  list-style-type: none;
}

.well li {
  padding: .5em;
}

.mygrid-wrapper-div {
    overflow-y: scroll;
    height: 275px;
}

#title-1, #title-2, #title-3, #title-4 {
  color:#FFFFFF;
  padding:.5em;
  font-family: 'Alegreya Sans', sans-serif;
  letter-spacing: 2px;
}

#title-1 {
  color: #DC3D24;
}

#title-2 {
  color: #1BA344;
}

#title-3 {
  color: #1A7089;
}

#title-4 {
  color: #DC8124;
}